.BackgroundSystem
{
	background-image:url(webapp/defaultdesktop.png);
}

.qxAboutLogo
{
	background-image:url(startup/logo.png);
	background-repeat:no-repeat;
	background-position:center center;	
	background-size: 128px 128px;
	width: 128px;
	height: 128px;	
}

.qxIcon
{
	background-image:url(webapp/ico.png);
	background-repeat:no-repeat;
	background-position:center center;	
	background-size: 16px 16px;
	width: 16px;
	height: 16px;	
}

.mnu_preferences
{
	background-image:url(webapp/Preferences.png);
}

.add
{
	background-image: url(webapp/add.png);
}
.favori
{
	background-image: url(webapp/favori.png);
}
.appel-offre
{
	background-image: url(webapp/appel-offre.jpg);
}

.white
{
	background-color: white
}

/********************************************************************************************\
											VMobile
\********************************************************************************************/

.screen-mobile {
	position: absolute;
	top: 0; left: 0;
	text-align: center;
	font-weight: 600;
	width: 100%;
	height: 100%;
}

.title-mobile{
	color: #F07D00;
	font-size: 1.4em;
	margin: 15px;
}

.description-mobile {
	font-size: 1.2em;
	color: #157efb;
}

.title-step{
	margin: 15px;
}

.googleplay {
	vertical-align: top;
	display: inline-block;
	height: 50px;
	width: 150px;
    background: url(webapp/googleplay.jpg) no-repeat center center;
    background-size: contain;
}

.appstore {
	margin: 3px;
	vertical-align: top;
	display: none;
	height: 45px;
	width: 150px;
    background: url(webapp/appstore.jpg) no-repeat center center;
    background-size: contain;
}

.text-mobile {
	margin: 15px;
	font-weight: 500;
	font-size: 1.0em;
}