.BackgroundSystem
{
	background-image:url(webapp/defaultdesktop.png);
}

.qxAboutLogo
{
	background-image:url(startup/logo.png);
	background-repeat:no-repeat;
	background-position:center center;	
	background-size: 128px 128px;
	width: 128px;
	height: 128px;	
}

.qxIcon
{
	background-image:url(webapp/ico.png);
	background-repeat:no-repeat;
	background-position:center center;	
	background-size: 16px 16px;
	width: 16px;
	height: 16px;	
}

.mnu_preferences
{
	background-image:url(webapp/Preferences.png);
}

.add
{
	background-image: url(webapp/add.png);
}

.white
{
	background-color: white
}

/********************************************************************************************\
											VMobile
\********************************************************************************************/

.screen-mobile {
	text-align: center;
	font-weight: 600;
	width: 100%;
	height: 100%;
}

.title-mobile{
	color: #F07D00;
	font-size: 1.2em;
	margin: 15px;
}

.description-mobile {
	font-size: 1.0em;
	color: #157efb;
}

.title-step{
	margin: 15px;
}

.googleplay {
	height: 20px;
	width: 20px;
    display: none;
    background: url(webapp/googleplay.jpg) no-repeat center center;
    background-size: contain;
}